<div id="data-grid-demo">
    @(Html.DevExtreme().DataGrid<TableTest>()
        .ID("Id")
        .Paging(paging => paging.Enabled(false))
        .ShowBorders(true)
        .Editing(editing =>
        {
            editing.Mode(GridEditMode.Batch);
            editing.AllowUpdating(true);
            editing.AllowAdding(true);
            editing.AllowDeleting(true);
            editing.SelectTextOnEditStart(true);
            editing.StartEditAction(GridStartEditAction.Click);
        })
        .Columns(columns =>
        {
            columns.AddFor(m => m.Name)
            .Width(70);

            columns.AddFor(m => m.Family);

            columns.AddFor(m => m.PhoneNumber);

            columns.AddFor(m => m.DateOfBirth).DataType(GridColumnDataType.Date)
            .Width(170);

            columns.AddFor(m => m.Id)
            .Width(125)
            .Lookup(lookup => lookup
            .DataSource(d => d.Mvc().Controller("Datas").LoadAction("Get").Key("Id"))
            .DisplayExpr("Id")
            .ValueExpr("Id")
            );

            columns.AddFor(m => m.DateOfBirth);
        })
        .DataSource(d => d.Mvc()
        .Controller("Datas")
        .LoadAction("Get")
        .UpdateAction("Put")
        .InsertAction("Patch")
        .DeleteAction("Delete")
        .Key("Id")
        )
        )

    <div class="options">
        <div class="caption">Options</div>
        <div class="option">
            @(Html.DevExtreme().CheckBox()
                .ID("select-text-on-edit-start")
                .Text("Select Text on Edit Start")
                .Value(true)
                .OnValueChanged("onOptionsValueChanged")
                )
        </div>
        <div class="option">
            <span>Start Edit Action</span>
            @(Html.DevExtreme().SelectBox()
                .ID("start-edit-action")
                .DataSource(new[] { "click", "dblClick" })
                .Value("click")
                .OnValueChanged("onStartEditActionValueChanged")
                )
        </div>
    </div>
</div>

<script>
    function onOptionsValueChanged(data) {
        let dataGrid = $("#gridContainer").dxDataGrid("instance");
        dataGrid.option("editing.selectTextOnEditStart", data.value);
    }

    function onStartEditActionValueChanged(data) {
        let dataGrid = $("#gridContainer").dxDataGrid("instance");
        dataGrid.option("editing.startEditAction", data.value);
    }
</script>